#landing {
	height: calc(100vh - 100px);
}

.row {
	max-width: 1000px;
	margin: 0 auto;
	padding: 0 32px;
}

header {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 100%;
	max-width: 800px;
	display: flex;
	justify-content: space-around;
}

.header__picture--wrapper{
	border-radius: 50%;
	overflow: hidden;
	width: 300px;
	height: 300px;
}

.header__picture {
	width: 100%;
	transform: scale(1.2);
	padding-bottom: 500px;
}

.header__content {
	display: flex;
	flex-direction: column;
	justify-content: center;
	width: 50%;
}